@model IEnumerable<Homework_6.Models.order_items>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<body>
    @foreach (var item in Model)
    {
        var total = item.quantity * item.list_price;
        <table>
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>List Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.product_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.list_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @total
                    </td>
                </tr>
            </tbody>
        </table>


    }

</body>